<ion-view title="Home" Adding cache-view="false">
    <ion-content class="has-header ">
        <!-- Display current location's weather <data-->
        <div class="button button-full">
            <div class="row"><i class="col col-25"> </i>
                <h4 class="col col-50">{{city}}</h4><span class="col col-25">{{current.currently.temperature}}°F </span></div>
            <div class="row"><span class="center">{{current.currently.summary}}</span>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Right now</div>
            <div class="item row">
                <div class="col col-50">
                    Windspeed </br>{{current.currently.windSpeed}} mph </div>
                <div class=" col col-50">
                    Visibility </br>{{current.currently.visibility}} miles
                </div>
            </div>
            <div class="item row">
                <div class="col col-50">
                    The Cloudcover </br>{{current.currently.cloudCover * 100 | number : 2 }} %
                </div>
                <div class="col col-50">
                    The Pressuring </br>{{current.currently.pressure}} bar
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">In next hour
                <p>
                    {{current.minutely.summary}}
                </p>
            </div>
            <div id="chartmin"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">In next 24 hours
                <p>
                    {{current.hourly.summary}}
                </p>
            </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
            <div id="charthrs"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">In next days
                <p>
                    {{current.daily.summary}}
                </p>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
